body{
    font-family: 'Roboto', sans-serif;
}
.header{
    width:40%;
    float: left;
    margin-left: 5%;
    padding-left: 5%;
    
}
.header img{
    width:100%;
}



.highlight{
    color:goldenrod;
    font-weight: 700;
}
.wrapeer{
    width: 20%;
   
  
  
  box-shadow: 10px 10px 30px yellowgreen;
  border-radius: 30px;
  float: left;
  margin-left: 5%;
  
  padding-left: 3%;
  padding-right: 5%;
}
.wrapeer img{
    width: 100%;
}



