body{
    font-family: 'Roboto', sans-serif;


}
.highlights{
   color:sandybrown;
}
.button{
    background-color: sandybrown;
    text-decoration: none;
    border-radius: 10px;
    color:whitesmoke;
    padding: 10px;
}



.top-content{
    width: 35%;
     float: left;
     
     margin-left: 5%;
     padding-left: 10%;
     margin-top: 5%;
     
}

.top-content img{
    width:50%;
}
#download_icon{
    width:40%;
    align-content: center;
    
}
.latest_work{
    
    
    border-radius: 10px;
    width: auto;
    height: 50%;
    
    
}
#image_control{

    width:30%;
   float:left; 
   padding-left: 20px;
   box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}
.last_part{

}






