body{
    font-family: 'Roboto', sans-serif;


}
.highlights{
   color:sandybrown;
}
.button{
    background-color: sandybrown;
    text-decoration: none;
    border-radius: 10px;
    color:whitesmoke;
    padding: 10px;
}



.top-content{
    width: 35%;
     float: left;
     
     margin-left: 5%;
     padding-left: 10%;
     margin-top: 5%;
     
}

.top-content img{
    width:50%;
}
#download_icon{
    width:40%;
    align-content: center;
    
}
.latest_work{
    box-shadow: 10px 10px 40px gray;
    border-radius: 1opx;
    height: 30%;
    float:left;
    size: 30%;
}






